header
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:8%;
    border-bottom: 15px solid #C5C6C7;
    background-color: #0B0C10;
}
main
{
    margin-top: 4%;
}
body
{
    background-color: #0B0C10;
}
h1,h2,h3
{
    color:#F5F5F7;
    text-align: center;
}
a,p
{
    color:#C5C6C7;
}
header nav ul
{
    list-style: none;
    clear: both;
}
header nav ul li
{
    float: left;
    margin-right: 5px;
    gap:2%;
    margin-left: 1%;
}
header nav ul li a
{
    display: block;
    text-decoration: none;
}
header nav ul li a:hover
{
    background-color: #1F2833;
}
.gridContenedor
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    width: 96%;
    margin: auto;
}
.gridContenedor div
{
    background-color: #1F2833;
    margin:1%;
    padding:2%;
    border-radius: 2.5em;
    margin-bottom: 5%;
}
.gridContenedor div img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    border: 10px solid #C5C6C7;
}
a
{
    font-size: 1.8em;
}